.choose {
  max-width: 112.5rem;
  margin-top: 12rem;
  margin-left: 12%;

  @media (max-width: $bp-large) {
    margin-left: 7%;
    margin-top: 12rem;
  }

  @media (max-width: $bp-medium) {
    margin-left: 0 !important;
  }

  @media (max-width: $bp-small) {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10.2rem;
  }

  h2 {
    color: $pseudo-black-2;
    font-family: "Barlow";
    font-size: $title-size;
    font-weight: 500;
    @media (max-width: $bp-medium) {
      margin-left: 2.13% !important;
    }

    @media (max-width: $bp-small) {
      margin-left: 0 !important;
    }
  }

  p {
    color: $pseudo-black-2;
    opacity: 0.8;
    line-height: 24px;
    font-size: 1.4rem;
    max-width: 78rem;
    margin-top: 1rem;

    @media (max-width: $bp-large) {
      max-width: 56.4rem;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $bp-medium) {
      display: block;
      margin-left: 2.13% !important;
    }

    @media (max-width: $bp-small) {
      margin-left: 0 !important;
    }

    p {
      @media (max-width: $bp-medium) {
        margin-top: 2rem;
        max-width: 96.83%;
      }

      @media (max-width: $bp-small) {
        width: 100%;
      }
    }
  }

  &__btn {
    margin-right: 2.5rem;
    padding: 1.6rem 3.2rem 1.6rem 3.2rem;
    font-size: 1.6rem;
    margin-bottom: -1rem;

    @media (max-width: $bp-large) {
      margin-right: 5rem;
      margin-bottom: -1.1rem;
      margin-right: 7rem;
    }

    @media (max-width: $bp-medium) {
      margin-top: 2rem;
    }

    @media (max-width: $bp-small) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__list {
    display: flex;
    margin-top: 3rem;

    @media (max-width: $bp-medium) {
      flex-wrap: wrap;
      margin: 4rem auto 0 auto;
      justify-content: center;
    }

    @media (max-width: $bp-small) {
      margin-top: 5.3rem;
      flex-direction: column;
      align-items: center;
    }
  }

  &__elem {
    box-shadow: 0px 0px 3rem 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
    margin-right: 2rem;
    width: 26rem;

    h3 {
      color: $pseudo-black;
      font-size: 1.6rem;
      font-family: "Barlow";
      font-weight: 500;
      white-space: nowrap;
      margin-top: 2rem;
      margin-left: 2rem;

      @media (max-width: $bp-small) {
        font-size: 1.6rem;
      }
    }

    p {
      color: $pseudo-black-2;
      opacity: 0.8;
      line-height: 2.4rem;
      font-size: 1.4rem;
      max-width: 22rem;
      margin-bottom: 4rem;
      margin-left: 2rem;
    }

    @media (max-width: $bp-large) {
      max-width: 20.6rem;

      p {
        max-width: 16.6rem;
      }
    }

    @media (max-width: $bp-medium) {
      max-width: 35.8rem;
      width: 35.8rem;
      margin-bottom: 2rem;

      p {
        max-width: 31.8rem;
        font-size: 1.4rem !important;
        line-height: 24px !important;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media (max-width: $bp-small) {
      p {
        max-width: 100%;
      }
      margin-right: 0;
      &:not(:first-child) {
        margin-top: 1rem;
      }
      width: 100%;
      max-width: 100%;
      padding-right: 1.6rem;
    }
  }

  &__img-container {
    display: block;
    margin: 2rem 0 0 2rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: relative;

    &--strategy {
      background-color: rgba(#f7b500, 0.1);
    }

    &--design {
      background-color: rgba(#29cbe4, 0.1);
    }

    &--development {
      background-color: rgba(#7270f9, 0.1);
    }

    &--support {
      background-color: rgba(#0091ff, 0.1);
    }
  }

  &__img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
