//Barlow

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow/Barlow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow/Barlow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow/Barlow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow/Barlow-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

//Expressa

@font-face {
  font-family: "Expressa";
  src: url("../fonts/Expressa/Expressa-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
