.footer {
  margin-top: -17rem;
  padding-top: 20.9rem;

  background: #16171a;

  @media (max-width: $bp-large) {
    margin-top: -18.5rem;
    padding-top: 22.4rem;
  }

  @media (max-width: $bp-small) {
  }

  h1 {
    font-family: "Expressa";
    color: white;
    font-size: 2.4rem;
    text-decoration: none;
    font-weight: 400;
    margin-left: 3.4rem;
    display: inline-block;
    transform: translateY(1rem);

    @media (max-width: $bp-medium) {
      margin-left: 1.6rem;
    }

    @media (max-width: $bp-small) {
      margin-left: 2rem;
      display: block;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  &__bg {
    position: absolute;
    height: 3rem;
    width: 5000vw;
    left: 50%;
    transform: translate(-50%, -100%);
    background: #16171a;
    z-index: -25;
    display: none;
  }

  &__column {
    list-style: none;
    display: inline-flex;
    flex-direction: column;

    &--1 {
      margin-left: 21.3rem;
    }

    &--2 {
      margin-left: 10rem;
    }

    &--3 {
      margin-left: 10rem;
    }

    &--4 {
      margin-left: 10rem;
      line-height: 2rem;

      li {
        @media (max-width: $bp-small) {
          margin-left: -2rem;
        }
      }
    }

    @media (max-width: $bp-large) {
      &--1 {
        margin-left: 10rem;
      }

      &--2 {
        margin-left: 5rem;
      }

      &--3 {
        margin-left: 6.7rem;
      }

      &--4 {
        margin-left: 4rem;
      }
    }

    h6 {
      color: white !important;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 2.2rem;

      @media (max-width: $bp-medium) {
        margin-bottom: 2rem;
        font-size: 1.3rem;
      }
    }

    @media (max-width: $bp-medium) {
      &--1 {
        margin-left: 4.7rem;
      }

      &--2 {
        margin-left: 4rem;
      }

      &--3 {
        margin-left: 4rem;
      }

      &--4 {
        margin-left: 4rem;

        h6 {
          @media (max-width: $bp-medium) {
            margin-bottom: 1.5rem;
          }
        }
      }
    }

    @media (max-width: $bp-small) {
      &--1 {
        grid-column: 2/3;
        grid-row: 1/2;

        margin-left: 8rem;
      }

      &--2 {
        grid-column: 1/2;
        grid-row: 1/2;

        margin-left: 2rem;
      }

      &--3 {
        grid-column: 1/3;

        h6 {
          margin-top: 3rem;
          margin-left: -2rem;
        }
      }

      &--4 {
        grid-column: 1/3;

        h6 {
          margin-top: 1.8rem;
          margin-left: -2rem;
          margin-bottom: 1.3rem;
        }

        p {
          max-width: 28.8rem;
        }
      }
    }

    &-wrapper {
      display: inline-block;

      @media (max-width: $bp-small) {
        display: flex;
        margin-left: -2rem;
      }

      li {
        @media (max-width: $bp-small) {
          margin-right: 3.7rem;
        }
      }
    }

    li {
      display: block;
      color: rgba(#ffffff, 0.6);
      font-size: 1.2rem;
      font-weight: 400;
      max-width: 50rem;
      @media (max-width: $bp-large) {
        max-width: 34rem;
      }
      @media (max-width: $bp-medium) {
        max-width: 22.3rem;
        font-size: 1.1rem;
      }
      @media (max-width: $bp-small) {
        max-width: 28.8rem;
        font-size: 1.1rem;
      }
      a {
        color: rgba(#ffffff, 0.6);
        font-size: 1.2rem;
        font-weight: 400;
        text-decoration: none;

        @media (max-width: $bp-medium) {
          font-size: 1.1rem;
        }
      }
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__line {
    width: 100%;
    display: block;
    background-color: white;
    height: 0.1rem !important;
    height: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    opacity: 0.2;

    @media (max-width: $bp-large) {
      margin-top: 1rem;
    }

    @media (max-width: $bp-medium) {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
  }

  &__box {
    display: inline-block;
    @media (max-width: $bp-small) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 3rem;
    }
  }

  &__last-block {
    @media (max-width: $bp-small) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  h4 {
    margin-left: 3rem;
    display: inline-block;
    color: rgba(#ffffff, 0.6);
    font-size: 1.2rem;
    font-weight: 400;
    a {
      display: inline-block;
      color: rgba(#ffffff, 0.6);
      font-size: 1.2rem;
      font-weight: 400;
    }
    margin-bottom: 2rem;

    @media (max-width: $bp-medium) {
      margin-left: 1.5rem;
      font-size: 1.1rem;
    }

    @media (max-width: $bp-small) {
      grid-column: 1/3;
      grid-row: 2/3;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h5 {
    a {
      display: inline-block;
      color: rgba(#ffffff, 0.6);
      font-size: 1.2rem;
      font-weight: 400;
      text-decoration: none;
      @media (max-width: $bp-medium) {
        font-size: 1.1rem;
      }
    }
    float: right;
    margin-right: 3rem;
    margin-bottom: 2rem;

    @media (max-width: $bp-medium) {
      margin-right: 1.6rem;

      &:nth-child(2) {
        margin-right: 3rem;
      }
    }

    @media (max-width: $bp-small) {
      &:nth-of-type(1) {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 5px;
        margin-right: 15px;
        justify-self: end;
      }
      &:nth-of-type(2) {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 17px;
        margin-top: 5px;
      }
    }
  }
}
