.header {
  &__nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    max-width: 138rem;
    margin: 0 3rem;

    @media (max-width: $bp-medium) {
      margin-left: 2.13%;
      margin-right: 6%;
    }

    @media (max-width: $bp-small) {
      margin-left: 0;
      margin-right: 0;
      margin-top: -2rem;
    }
  }

  h1 {
    a {
      font-family: "Expressa";
      color: $pseudo-black;
      font-size: 2.4rem;
      text-decoration: none;
      font-weight: 400;
    }

    @media (max-width: $bp-medium) {
      margin: 31px 0 0 0;
    }

    @media (max-width: $bp-small) {
      transform: translate(16px, 18px);
    }
  }

  &__btn {
    margin-top: 2rem;
    transform: translate(3px, -4px);

    @media (max-width: $bp-large) {
      transform: translate(-0.3rem, -0.4rem);
    }

    @media (max-width: $bp-medium) {
      display: none;
    }

    @media (max-width: $bp-small) {
      transform: translate(-9px, 10px);
    }
  }

  &__btn--burger {
    @media (min-width: $bp-medium) {
      display: none;
    }

    @media (max-width: $bp-medium) {
      display: block;
    }

    transform: translate(19px, -5px);
    transition: all 0.2s;
    div {
      transition: all 0.2s;
    }

    @media (max-width: $bp-small) {
      transform: translate(-27px, 12px);
    }
  }

  &__link-block {
    margin-right: -6.79%;
    transform: translateY(-3px);

    @media (max-width: $bp-large) {
      margin-right: -10%;
      transform: translateY(-4px);
    }

    @media (max-width: $bp-medium) {
      display: none;
    }
  }

  &__hover {
    display: inline-block;
    height: 0.3rem;
    width: 120%;
    position: absolute;
    background-color: $blue;
    opacity: 0.2;
    left: -9%;
    top: 1.1rem;

    visibility: hidden;
    transition: 0.1s ease-in;
    opacity: 0;
  }

  &__link {
    font-family: "Barlow";
    font-weight: normal;
    font-style: normal;
    font-size: 1.6rem;
    color: $pseudo-black;
    display: inline-block;
    position: relative;

    &:not(:last-child) {
      margin-right: 5rem;
    }

    text-decoration: none;

    &:hover .header__hover {
      visibility: visible;
      opacity: 0.2;
    }

    &:active .header__hover {
      visibility: visible;
      opacity: 0.2;

      transform: translateY(1px);
    }
  }

  &__info {
    width: 100%;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 112.5rem;
    margin: 0 auto;
    margin-top: 4.7rem;
    margin-left: 12%;

    @media (max-width: $bp-large) {
      margin-top: 1.7rem;
      margin-left: 7%;
    }

    @media (max-width: $bp-medium) {
      margin-left: 2.13%;
    }

    @media (max-width: $bp-small) {
      grid-template-columns: 1fr;
      margin-left: 0 !important;
      padding: 13px;

      & > * {
        margin: 0 auto !important;
      }
    }

    h2 {
      color: $pseudo-black-2;
      font-family: "Barlow";
      font-size: $title-size;
      font-weight: 500;
      max-width: 22rem;
      margin-top: 5.4rem;

      @media (max-width: $bp-medium) {
        font-size: 2.6rem;
        max-width: 15.9rem;
      }

      @media (max-width: $bp-small) {
        margin-top: 5rem;
      }
    }

    p {
      margin-top: 2rem;
      max-width: 50rem;
      color: $pseudo-black-2;
      opacity: 0.8;
      line-height: 1.625;
      font-size: 1.6rem;

      @media (max-width: $bp-large) {
        width: 40rem;
      }

      @media (max-width: $bp-medium) {
        font-size: 1.3rem;
        line-height: 2.2rem;

        max-width: 33.8rem;
      }

      @media (max-width: $bp-small) {
        width: 100%;
        max-width: 100%;
      }
    }

    &__btn {
      margin-top: 2rem;
      @media (max-width: $bp-medium) {
        font-size: 1.3rem;
        line-height: 1.8rem;
        padding: 1.3rem 3.2rem;
      }
      @media (max-width: $bp-small) {
        width: 100%;
      }
    }
  }

  &__img {
    margin-left: -4.3rem;
    z-index: -1;
    grid-column: 2/3;

    @media (max-width: $bp-large) {
      height: 27.6rem;
      margin-left: -1.9rem;
      margin-top: 6rem;
    }

    @media (max-width: $bp-medium) {
      width: 36.8rem;
      margin-top: 4rem;
      margin-left: -0.7rem;
    }

    @media (max-width: $bp-small) {
      grid-column: 1/2;
      margin-top: 2rem;
      width: 100%;
    }

    @media (max-width: 420px) {
      margin-top: -3rem !important;
      width: 28.8rem;
    }
  }
}
